<div class="face-snap-card" [ngClass]="{ snapped: buttonText === 'Oops, unSnap!' }">
    <h2>{{ faceSnap.title | uppercase }}</h2>
    <p>Mis en ligne le {{ faceSnap.createdDate | date: 'dd/MM/yy, à HH:mm' }}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p><button (click)="onSnap()">{{buttonText}}</button>
        <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }"> {{ faceSnap.snaps }}</span>
    </p>
    <p *ngIf="faceSnap.location">Photo prise à la {{faceSnap.location}}</p>
    <!-- pipe for numbers -->
    <p>{{ 4346.35 | number:'1.0-1' }}</p>
    <p>{{ 0.336 | percent }}</p>
    <p>{{ 344.36 | currency: 'EUR' }}</p>
</div>